/* ********************************************
/* This file contains all styles for index.html
/* ********************************************

/* --------------------------------------------- */
/* Color palette, font weights, and side margins */
/* --------------------------------------------- */

:root {
    --bg-color: #212121;
    --primary-color: #62FA88;
    --txt-clr-dk: #212121;
    --txt-clr-lt: #F5F5F5;
    --txt-sz-sm: 1.3rem;
    --txt-sz-md: 1.8rem;
    --txt-sz-lg: 3.7rem;
    --txt-wt-lt: 200;
    --txt-wt-bd: 500;
    --margin-sides: 8rem;
}

@media (max-width: 1490px) {
    :root {
        --margin-sides: 4rem;
    }
}

@media (max-width: 900px) {
    :root {
        --margin-sides: 2.5rem;
    }
}

/* ---------------------------- */
/* Common styles for index.html
/* ---------------------------- */

main {
    margin: 0 var(--margin-sides);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

main > article {
    grid-column: 1 / 5;
    margin-top: 115px;
}

main > article > h4 {
    color: var(--primary-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 40px;
}

main > article > h4 > div {
    height: 2px;
    width: 4rem;
    border-radius: 10px;
    margin-right: 1.5rem;
    background: var(--primary-color);
}

main > article > h4 > p {
    font-weight: var(--txt-wt-bd);
    font-size: var(--txt-sz-sm);
}

main > article > section {
    font-size: var(--txt-sz-lg);
    font-weight: var(--txt-wt-bd);
    margin-bottom: 60px;
}

#hero-txt {
    color: var(--primary-color);
}

#hero-txt > span {
    color: var(--txt-clr-lt);
}

.hero-cursor {
    animation: blink 1.0s infinite linear;
}

@keyframes blink {
    0%,20%,80%,100% {
        opacity: 1;
    }

    25%,75% {
        opacity: 0;
    }
}

.cursor-gone {
    opacity: 0;
    transition: all ease 200ms;
}

.hero-cta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-cta > button {
    font-weight: var(--txt-wt-bd);
    font-size: var(--txt-sz-md);
    margin-right: 2.2em; 
    padding:0.6rem 1.5rem;
    border: 3px solid var(--primary-color);
    border-radius: 15px;
}

.hero-btn-bio {
    background: var(--primary-color);
    color: var(--txt-clr-dk);
}

.hero-btn-projects {
    background: transparent;
    color: var(--primary-color);
}
