:root {
  --clr-dk: #F5F1ED;
  --clr-lt: #252323;
  --fnt-lg: 2.0rem;
  --fnt-md: 1.5rem;
  --fnt-sm: 1.1rem;
}

@media screen and (max-width: 1100px) {
  :root {
    --fnt-lg: 3.8rem;
    --fnt-md: 2.7rem;
    --fnt-sm: 2.3rem;
  }
}

.grid-1 img {
  width: 100%;
  height: 100%;
}

.grid-4 img {
  width: 100%;
  height: 100%;
}

html {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer {
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  min-height: 150vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1100px) {
  main {
    grid-template-rows: repeat(4, 1fr);
  }
}

main > div > h1 {
  font-size: var(--fnt-lg);
  margin-bottom: 13%;
}

main > div > h2 {
  font-size: var(--fnt-md);
  margin-bottom: 6%;
}

main > div > p {
  font-size: var(--fnt-sm);
  margin-bottom: 3%;
}

main > div {
  padding: 13%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.6;
}

.grid-1 {
  margin: 0;
  padding: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}

@media screen and (max-width: 1100px) {
  .grid-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 1;
  }
}

.grid-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 1;
  background-color: #70798C;
  color: var(--clr-dk);
}

@media screen and (max-width: 1100px) {
  .grid-2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 2;
  }
}

.grid-3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  background-color: #DAD2BC;
  color: var(--clr-lt);
}

.grid-3 > div {
  display: flex;
  justify-content: start;
}

.grid-3 > div > a {
  width: 40px;
  height: 40px;
  margin: 15px;
}


@media screen and (max-width: 1100px) {
  .grid-3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 3;
  }

  .grid-3 > div > a {
    width: 70px;
    height: 70px;
    margin-top: 25px;
  }
}

.grid-4 {
  grid-column-start: 3;
  margin: 0;
  padding: 0;
  grid-column-end: 5;
  grid-row: 2;
}

@media screen and (max-width: 1100px) {
  .grid-4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 4;
  }
}

header {
  background-color: var(--clr-lt);
  color: var(--clr-dk);
  font-size: var(--fnt-lg);
}

footer {
  background-color: var(--clr-dk);
  color: var(--clr-lt);
  font-size: var(--fnt-sm);
}
